.content {
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 800 px;
}
.btn-submit {
    height: 20px;
    width: 100px;
    
}
input {
    height: 30px;
    width: 500px;
}

.btn-delete {
    margin-bottom: 4px;
    margin-inline: 30px;
}
button, input {
    border-width: 1px;
    border-radius: 15px;

}
button:focus, input:focus {
    outline: none
}